body {
  width: 60em;
  margin: 0 auto;
}

section {
  padding: 2em;
  margin: 1em; 
}
.grid{
  display: grid;
  gap:0.3rem;
  
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 180px 180px 180px;
  grid-template-areas: "green green green"
                        "yellow red blue"
                        "yellow red blue"
                        "orange orange blue";
}
#green {
  grid-area: green;
  background-color: #8ffda7;
}

#orange {
  grid-area: orange;
  background-color: #ffc788;
}

#yellow {
  grid-area: yellow;
  background-color: #ffff92;
}

#red {
  grid-area: red;
  background-color: #ff919c;
}

#blue {
  background-color: #98d2ff;
  grid-row: span 3  ;
}

ul {
  display:grid;
  grid-template-columns: 130px 130px;
  grid-template-rows: 100px 100px;
  padding: 0;
}

li {
  background-color: white;
  padding: 1.5em;
  
  display: block;
  margin: 1em;
}
